$cost-color: #5b5b5b;

section.get-started {
  margin-bottom: 100px;
}

div.get-started-inside {
  display: flex;
  justify-content: space-between;
  div.get-started-text {
    max-width: 520px;
    font-family: "Metropolis Medium";
    h1 {
      font-size: 3.9375em;
      font-weight: normal;
      margin-bottom: 50px;
      line-height: 84px;
    }
    p {
      font-size: 1.375em;
      line-height: 38px;
      margin-bottom: 65px;
    }
    a {
      @extend %round-button-violet;
      margin-bottom: 100px;
    }
    p.cost {
      font-family: "Metropolis Medium";
      font-size: 1.125em;
      color: $cost-color;
    }
  }
}
